<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
    <title>smol</title>
  </head>
  <body>
    <main>
      <h1><a href="/">smol</a></h1>
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search...">
        <input type="submit" value="Search">
      </form>
      <p>Searching {{ total_docs }} documents</p>
    </main>
  </body>
</html>
